@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bax {
    width: 140px;
    height: 160px;
    margin-left: 120px;
}

.batteryShape {
    position: absolute;
    width: 140px;
    height: 60px;
    bottom: 5px;
    border: 3px solid #333;
}

.batteryShape:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 7px;
    height: 16px;
    background: rgb(35, 37, 37);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.batteryShape::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.level {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    overflow: hidden;
    border-radius: 4px;
}

.percentage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, #f3e308, #51ff00);
}

.percent {
    color: seashell;
    position: relative;
    left: 80px;
}

