.todo-list .list-group-item {
    padding: 2px 2px;
    top: 30px;
    margin: 2px;
    width: 400px;
    list-style: none;
    background: none;
    border: 1px solid rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}