 .todo-app {
  padding: 40px;
  position: absolute;
  background: rgba(5, 5, 5, 0.726);
  backdrop-filter: blur(25px);
  height: 100%;
  width: 70%;
}

.app-todo {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
  
.top-panel {
    margin: 3rem 0;
}
  
