@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.App {
  width: 100%;
  background: linear-gradient(rgb(71, 71, 71), rgb(54, 54, 54));
}

.App nav {
  display: flex;
  max-width: calc(100%-200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(94, 92, 92, 0.452);
}

nav .conteiner {
  display: flex;
  align-items: center;
}

nav .conteiner .list {
  display: flex;
  margin: 0 auto;
  position: absolute;
  right: 180px;
}

.conteiner .name span {
  color: rgb(161, 161, 161);
  text-shadow: 3px -1px 2px #fff,
               7px -5px 3px rgb(53, 53, 53),
               4px -2px 30px rgb(255, 255, 255);
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
  left: 400px;
  font-family: 'Poppins', sans-serif;
}

.conteiner .name a:hover {
   color: rgb(161, 158, 158);
}

.logo {
  position: relative;
  left: 40px;
}

.App .icon {
  color: #fff;
  position: absolute;
  right: 120px;
}

.month {
  right: 85px;
  letter-spacing: 1px;
  position: relative;
  color: #fff;
  font-family: 'Poppins' sans-serif;
}

.App2 {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 89%;
  background: linear-gradient(rgb(61, 61, 61), #000);
}

.App2::before {
  content: '';
  width: 1000px;
  background: rgba(0, 0, 0, 0.13);
  border: 2px solid rgba(0, 0, 0, 0.425);
  position: absolute;
  height: 500px;
  left: 0%;
  top: 10%;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 90%;
  background: rgb(19, 19, 19);
}

.App2 .conteiner {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 350px;
   margin-top: 50px;
}

.conteiner h1 {
  color: rgb(255, 255, 255);
  padding: 40px 20px 40px;
  left: 30px;
  margin-bottom: 100px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 0 0 5px #000;
}

.box {
  position: relative;
  bottom: 240px;
  left: 230px;
  margin: 0 auto;
  color: #fff;
  width: 500px;
  height: 400px;
  transform-style: preserve-3d;
}

.box a img {
  border-radius: 2px;
  width: 450px;
  height: 300px;
  transition: all 1s ease;
  border-left: 5px solid rgb(255, 0, 76);
}

.box::before {
  content: 'BOX';
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 64);
  padding: 0 20px;
  position: absolute;
  top: 67%;
  left: 165px;
  z-index: 10000;
  border-radius: 5px;
  transition: all .4s ease;
}

.box:hover::before {
  background: none;
  border: 5px solid rgb(255, 0, 64);
  color: #000;
}


.box a img:hover {
  transform: scale(1.05);
}

.boards-name {
  text-decoration: none;
  color: cornsilk;
}

.boards-name:hover {
  color: rgb(255, 255, 255);
}

.boards {
  position: relative;
  right: 3px
}
